lego_loam:
    laser:
        num_vertical_scans: 32
        num_horizontal_scans: 900
        ground_scan_index: 30                  #注意顺序，是否应该逆序
        vertical_angle_bottom: -89.5          # degrees
        vertical_angle_top: -2.375              # degrees
        sensor_mount_angle: 0               # degrees
        scan_period: 0.05                    # seconds   0.05=1/(20HZ)

        ## extrinsics is T_agv_laser; 
        ### Unit: m;rad
        ### Euler angle order: Rz(yaw)*Ry(pitch)*Rx(roll)
        #extrinsic_x: 1.79485
        #extrinsic_y: 0.0134678
        #extrinsic_z: 2.3
        #extrinsic_roll: -0.00471308
        #extrinsic_pitch: -0.0211058
        #extrinsic_yaw: 0.0132849
        extrinsic_x: 1.77824
        extrinsic_y: 0.022263
        extrinsic_z: 2.35
        extrinsic_roll: 0.00729092
        extrinsic_pitch: -0.0112878
        extrinsic_yaw: 00.012131

    imageProjection:
        segment_valid_point_num: 5
        segment_valid_line_num: 3
        segment_theta: 30.0                      # decrese this value may improve accuracy
        minimun_scanline: 8                     # 最小的scanline 

    featureAssociation:
        edge_threshold: 0.2
        surf_threshold: 0.3
        nearest_feature_search_distance: 3.0    # KD检索的阈值
        huberloss_factor: 0.05                  # huber loss factor
        opt_cycles: 2                           # ceres cycle.
        enable_scan_end: true                  #决定函数 adjust2ScanEnd() 是否启动
        HIptslimits: 200.1                     # 筛选高反光点的limit值
        HIOnOff: true                         # HI提取的开关量

    mapping:
        mapping_frequency_divider: 1               # “1”不能变，让每一帧的Odom值都进入到Location端

    localization:
        use_close_coupled: true  
        keyframe_dist_thres: 1
        keyframe_angle_thres: 0.15
        sliding_window_length: 40
        sliding_count: 6
        use_odom_constraint: true
        #dis_error: 0.02
        dis_error: 0.03
        #angle_error: 0.01
        angle_error: 0.01
        dis_error_t: 0
        angle_error_t: 0
        log_dir: "/home/zc/log"
        map_files_location: "/home/zc/onlyalign/"            # 加载地图的地址
        #map_files_location: "/home/fzheng/data/2021_12_01_17_20_45/dump/"            # 加载地图的地址
        # map_files_location: "/mnt/d/wudi/VN_3D_odom_ws/data/map/readmap"            # 加载地图的地址
        # pose_rec_filepath: "/mnt/d/wudi/VN_3D_odom_ws/data/VN_3D_loam.txt"          # pose的记录地址
        # test_filefolder: "/mnt/d/wudi/VN_3D_odom_ws/data/see"                       # 专用记录某些测试的log的文件夹
        surf_only: false                            # surf + outlier or not 
        location_response: 1                         # Location 反应的频率
        #初始化相关
#        born_x: 15.8696                                  # 出生点t-x -1.0
#        born_y: 12.1608                                       # 出生点t-y
#        born_z: 2.53985                                       # 出生点t-z
#        born_q_x: 0                                  # 出生点q-x
#        born_q_y: 0                                   # 出生点q-y
#        born_q_z: 0                                    # 出生点q-z
#        born_q_w: 1                
#        born_x: 2                                  # 出生点t-x -1.0
#        born_y: 6.4                                       # 出生点t-y
#        born_z: 2.7715                                       # 出生点t-z
#        born_q_x: 0                                  # 出生点q-x
#        born_q_y: 0                                   # 出生点q-y
#        born_q_z: -0.009                                     # 出生点q-z
#        born_q_w: 1   
        born_x: 2                                  # 出生点t-x -1.0
        born_y: 6.35                                       # 出生点t-y
        born_z: 2.7715                                       # 出生点t-z
        born_q_x: 0                                  # 出生点q-x
        born_q_y: 0                                   # 出生点q-y
        born_q_z: 0.025                                    # 出生点q-z
        born_q_w: 1                
#        born_x: 9.75               
#        born_x: 9.75                                        # 出生点t-x -1.0
#        born_y: 6.4                                      # 出生点t-y
#        born_z: 2.23
#        born_q_x: 0
#        born_q_y: 0
#        born_q_z: -0.20408
#        born_q_w: 0.978954
        
        enable_exteran_seed_pose: false             # 使用外部初始化位姿

        surrounding_keyframe_search_radius: 15.0   # key frame that is within n meters from current pose will be
                                                   # considered for scan-to-map optimization (when loop closure disabled)

        global_map_visualization_search_radius: 200.0 # key frames with in n meters will be visualized

        #creat_map_data:  2   # 0: Nothing  1: for aloam 2:for lego
        combines_surf_outliner:  1   # 0: not merge  1: put together
        map_load_mode: 2  # 1:aloam (not exist yet) # 2: legoloam
        surrounding_feature_points_radius2: 1.0    # 点匹配的阈值, 远近点在旋转时本该不同，暂无
        #save_KF_radius: 0.5   # 关键帧的间隔距离
        cornerLeafSize: 0.1   # corner leaf size for downsize
        surfLeafSize: 0.4     # surf leaf size for downsize
        LoopCldLeafSize: 0.4  # leaf size for loop closure
        SurrKFCldLeafSize: 0.4  #  for surrounding key poses of scan-to-map optimization
        #loopClosure_timegap: 30.0  #  time gap for loop closure 

        CornerTrigger: 0  # 
        SurfTrigger: 0 #
        HI_feature_points_dis: 0.16     #HI点的匹配距离，不应该超过反射板的长度。暂定都是40cm，0.16=0.4*0.4
        
        # 滑块功能区间:
        fusion_ceres_block: true      # 是否开启滑窗功能
        laserFusionSize: 15            # 几个laser 的pose做图优化，如果fusion功能开启，需要大于1
        VtxDistance: 0.5              # 帧间的距离
        fusion_compdata: true        # 是否开启 compareData()
        FrameDelay: 20                # 延迟几帧开始滑窗模块; 20HZ
        scan2map_InfoDiag_t: 400       # Info Diag of scan2map constraints, for x,y,z, unit: m2  协方差的逆
        scan2map_InfoDiag_roll: 364.7   # Covariance of scan2map constraints, for roll, unit: rad2
        scan2map_InfoDiag_pitch: 364.7   # pitch, 
        scan2map_InfoDiag_yaw: 364.7    # yaw, 3° 
        odom_InfoDiag_t: 4000       # Covariance of odom constraints, for x,y,z, unit: m2
        odom_InfoDiag_roll: 364.7   # Covariance of odom constraints, for roll, unit: rad2
        odom_InfoDiag_pitch: 36.7   # pitch
        odom_InfoDiag_yaw: 13280.8    # yaw, 1°: 3280.8  0.5°: 13130
        VtxLinearVel: 0.7         # 线速度阈值, 用于做KF的角速度判断, unit: m2/s
        # localmap区间：
        localmap_on: false              # 是否开启localmap功能
        localmap_fill_mapfilter: true  # true: 只采集挖掉的区域， false: 全部curr点采集
        localmap_KF_dis: 0.3           # 多远记录一个localmap KF
        localmap_KF_num : 40           # KF数量

        drop_big_jump_larger_than: 100


    agvOdometry:
        ##_LRealTimeParamPack ：
        m_K_Enc2Angle_Rudder: 0.0001745329222    # k from rudder encoder readings to angle,弧度值
        m_K_Enc2Dist_Drive: 0.000209780495598      # k from encoder readings to distance
        #m_K_Hoare2Dist:     # k 缺席中
        m_K_Cnt2Angle_Compass: 0.0001745329222  # k from compass readings to angle
        m_MidEncRudder: 127  # k
        m_WheelBase: 1.067  # k
        m_LengthWheelLeft: 0.5  # k between left wheel and right wheel with direction
        m_LengthWheelRight: 0.5  # k between left wheel and right wheel with direction
        m_Freq: 100.0   # sampling frequency
        m_AngleCorrection_1: 0.0   # parameter for correct (not used now)
        m_AngleCorrection_2: 0.1   # parameter for correct (not used now)
        m_RudderShiftY: 0.05     # shift of the rudder w.r.t directional wheel
        m_TruckType: 33      # type of the track

        ##_LRealTimeInputPack：
        shaft_length: 1.48          # default 1.48
        bIsCorrectionValid: true    #
        bornType: 0                         #用以说明出生点用那种模式的，默认是0,即出生的描述用的是雷达的位置而不是agv-odom; 
                                            #如果是1，则代表是agv-odom的出生位置




