lego_loam:
    laser:
        num_vertical_scans: 32
        num_horizontal_scans: 900
        ground_scan_index: 30                  #注意顺序，是否应该逆序
        vertical_angle_bottom: -89.5          # degrees
        vertical_angle_top: -2.375              # degrees
        sensor_mount_angle: 3.0               # degrees; extrinsic.pitch
        scan_period: 0.05                    # seconds   0.05=1/(20HZ)

        ## extrinsics is T_agv_laser; 
        ### Unit: m;rad
        ### Euler angle order: Rz(yaw)*Ry(pitch)*Rx(roll)
        extrinsic_x: 1.83
        extrinsic_y: 0
        extrinsic_z: 2.3
        extrinsic_roll: 0
        extrinsic_pitch: -0.008
        extrinsic_yaw: 0

    imageProjection:
        segment_valid_point_num: 5
        segment_valid_line_num: 3
        segment_theta: 30.0                      # decrese this value may improve accuracy
        minimun_scanline: 0                     # 最小的scanline 
        

    featureAssociation:
        edge_threshold: 0.2
        surf_threshold: 0.3
        nearest_feature_search_distance: 3.0    # KD检索的阈值
        huberloss_factor: 0.05                  # huber loss factor
        opt_cycles: 2                           # ceres cycle.
        enable_scan_end: true                  #决定函数 adjust2ScanEnd() 是否启动
        HIptslimits: 200.1                     # 筛选高反光点的limit值
        HIOnOff: true                         # HI提取的开关量

    mapping:
        enable_loop_closure: false
        mapping_frequency_divider: 1               # mapping_frequency_divider是Odom 和 Mapping的频率比。
        enable_manual_loop: false
        surf_only: false                            # surf + outlier or not 

        surrounding_keyframe_search_radius: 25.0   # key frame that is within n meters from current pose will be
                                                   # considered for scan-to-map optimization (when loop closure disabled)
        surrounding_keyframe_search_num: 150        # submap size (when loop closure enabled)

        history_keyframe_search_radius: 3.0        # key frame that is within n meters from current pose will be considerd for loop closure
        history_keyframe_search_num: 20            # 2n+1 number of history key frames will be fused into a submap for loop closure
        history_keyframe_fitness_score: 0.1        # the smaller the better alignment

        global_map_visualization_search_radius: 100.0 # key frames with in n meters will be visualized

        creat_map_data:  2   # 0: Nothing  1: for aloam 2:for lego
        combines_surf_outliner:  1   # 0: not merge  1: put together
        map_load_mode: 2  # 1:aloam (not exist yet) # 2: legoloam
        surrounding_feature_points_radius2: 1.0    # 点匹配的阈值, 远近点在旋转时本该不同，暂无
        save_KF_radius: 0.5   # 关键帧的间隔距离
#        save_KF_radius: 0.01   # 关键帧的间隔距离
        cornerLeafSize: 0.2   # corner leaf size for downsize
        surfLeafSize: 0.4     # surf leaf size for downsize
        LoopCldLeafSize: 0.4  # leaf size for loop closure
        SurrKFCldLeafSize: 0.4  #  for surrounding key poses of scan-to-map optimization
        loopClosure_timegap: 30.0  #  time gap for loop closure 
        loop_closure_min_travel_dist: 30 
        map_files_location: "/home/zc/vnData/map"

        ground_id_topic: "/manual_ground_id"
        place_id_topic: "/manual_place_id"

        CornerTrigger: 0  # 
        SurfTrigger: 0 #
        
        HI_feature_points_dis: 0.16     #HI点的匹配距离，不应该超过反射板的长度。暂定都是40cm，0.16=0.4*0.4
    
#    agvOdometry:
#       ##_LRealTimeParamPack ：
#        m_K_Enc2Angle_Rudder: 0.0001745329222    # k from rudder encoder readings to angle,弧度值
#        m_K_Enc2Dist_Drive: 0.000209780495598      # k from encoder readings to distance
#        #m_K_Hoare2Dist:     # k 缺席中
#        m_K_Cnt2Angle_Compass: 0.0001745329222  # k from compass readings to angle
#        m_MidEncRudder: 127  # k
#        m_WheelBase: 1.067  # k
#        m_LengthWheelLeft: 0.5  # k between left wheel and right wheel with direction
#        m_LengthWheelRight: 0.5  # k between left wheel and right wheel with direction
#        m_Freq: 100.0   # sampling frequency
#        m_AngleCorrection_1: 0.0   # parameter for correct (not used now)
#        m_AngleCorrection_2: 0.1   # parameter for correct (not used now)
#        m_RudderShiftY: 0.05     # shift of the rudder w.r.t directional wheel
#        m_TruckType: 33      # type of the track

#futian
    agvOdometry:
       ##_LRealTimeParamPack ：
        m_K_Enc2Angle_Rudder: 0.000174533    # k from rudder encoder readings to angle,弧度值
        m_K_Enc2Dist_Drive: 0.0003295023      # k from encoder readings to distance
        #m_K_Hoare2Dist:     # k 缺席中
        m_K_Cnt2Angle_Compass: 0.0001745329222  # k from compass readings to angle
        m_MidEncRudder: -118  # k
        m_WheelBase: 1.03837187395196  # k
        m_LengthWheelLeft: 0.5  # k between left wheel and right wheel with direction
        m_LengthWheelRight: 0.5  # k between left wheel and right wheel with direction
        m_Freq: 100.0   # sampling frequency
        m_AngleCorrection_1: 0.0   # parameter for correct (not used now)
        m_AngleCorrection_2: 0.1   # parameter for correct (not used now)
        m_RudderShiftY: 0.05     # shift of the rudder w.r.t directional wheel
        m_TruckType: 33      # type of the track


        ##_LRealTimeInputPack：
        shaft_length: 1.48          #
        bIsCorrectionValid: true    #



